body{
    background-image: url("/images/maxresdefault.jpg");
}
.prof-box{
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    color: white;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.5s;

}
h1 {
    text-transform: uppercase;
    text-align: center;
    
}
.prof-box:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 1);
}