body{
    background-image: url("/images/maxresdefault.jpg");
}

.prof-box{
    width: 450px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    color: white;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;

}
h1 {
    text-transform: uppercase;
    text-align: center;
    
}
p{
    font-weight: 100;
    letter-spacing: 1;
    font-size: 50; 
}
.prof-box:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 1);
}